# --- CONFIGURATION POSTGRESQL ADMIN (Airflow / dbt) ---
DB_HOST=postgres
DB_PORT=5432
DB_NAME=genbi
DB_USER=postgres
DB_PASSWORD=postgres_admin_123

# --- CONFIGURATION POSTGRESQL LECTURE SEULE (Agent IA Zero-Trust) ---
DB_READONLY_USER=genbi_readonly
DB_READONLY_PASSWORD=genbi_secure_readonly_123

# --- CONFIGURATION OLLAMA (LLM LOCAL) ---
# host.docker.internal permet d'accéder au service Ollama tournant nativement sur l'hôte macOS
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5-coder:7b

# --- CONFIGURATION COUCHE SÉMANTIQUE (dbt) ---
DBT_MANIFEST_PATH=/app/dbt_project/target/manifest.json

# --- PARAMÈTRES APPLICATION ---
APP_ENV=development
DEBUG=true
